// 全局变量
$base-color: pink;

// 侧边栏的宽度
$base_aside_width: 400px;

// tabbar的背景色
$base_tabbar_background_color: #001529;

// tabbar的高度
$base_tabbar_height: 50px;

// logo_box的高度
$logo_box_height: 60px;

// 侧边栏收起的最小宽度
$aside_min_width: 60px;
